@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.eot");
    src: url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Bold.woff2") format("woff2"),
        url("fonts/Gilroy-Bold.woff") format("woff"),
        url("fonts/Gilroy-Bold.ttf") format("truetype"),
        url("fonts/Gilroy-Bold.svg#fonts/Gilroy-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.eot");
    src: url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Regular.woff2") format("woff2"),
        url("fonts/Gilroy-Regular.woff") format("woff"),
        url("fonts/Gilroy-Regular.ttf") format("truetype"),
        url("fonts/Gilroy-Regular.svg#fonts/Gilroy-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-BoldItalic.eot");
    src: url("fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-BoldItalic.woff2") format("woff2"),
        url("fonts/Gilroy-BoldItalic.woff") format("woff"),
        url("fonts/Gilroy-BoldItalic.ttf") format("truetype"),
        url("fonts/Gilroy-BoldItalic.svg#fonts/Gilroy-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-RegularItalic.eot");
    src: url("fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-RegularItalic.woff2") format("woff2"),
        url("fonts/Gilroy-RegularItalic.woff") format("woff"),
        url("fonts/Gilroy-RegularItalic.ttf") format("truetype"),
        url("fonts/Gilroy-RegularItalic.svg#fonts/Gilroy-RegularItalic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #fff;
    font-family: "Gilroy";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, .87);
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: "Gilroy";
    letter-spacing: .4px;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFF;
}

h2 {
    font-family: "Gilroy";
    letter-spacing: .3px;
    font-weight: normal;
    font-size: 32px;
    line-height: 140%;
    color: #000;
}

h3 {
    font-family: "Gilroy";
    letter-spacing: .3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

h4 {
    font-family: "Gilroy";
    letter-spacing: .3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, .87);
}

p {
    font-family: "Gilroy";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, .87);
}

a {
    text-decoration: none;
    font-family: "Gilroy";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, .87);
}

li {
    list-style: none;
    font-family: "Gilroy";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, .87);
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    background: rgba(255, 255, 255, 1);
}

.slick-arrow img {
    display: block;
    /*width: 36px;*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site_row {
    display: flex;
    display: -webkit-flex;
    padding-bottom: 9px;
}

.header_site_row > .left {
    width: 150px;
    padding: 7px 10px 7px 0;
}

.header_site_row > .center {
    width: calc(100% - 520px);
    padding: 7px 10px 7px 10px;
}

.header_site_row > .right {
    width: 370px;
    padding: 7px 0 7px 10px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.logo {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.main_nav {
    display: flex;
    display: -webkit-flex;
    margin-top: 17px;
    justify-content: center;
    -webkit-justify-content: center;
}

.main_nav li {
    padding: 5px 13px;
}

.main_nav li a {
    border-bottom: 1px solid transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link,
.main_nav li a:visited {
    border-bottom: 1px solid transparent;
}

.main_nav li a:active,
.main_nav li a.active {
    border-bottom: 1px solid #000;
}

.main_nav li a:hover {
    border-bottom: 1px solid #000;
}

.inline {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 18px -9px 0 -9px;
}

.inline > div {
    padding: 0 9px;
}

.tel_link {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    letter-spacing: .3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:link,
.tel_link:visited {
    color: #000;
}

.tel_link:active,
.tel_link.active {
    color: #F7BA07;  
}

.tel_link:hover {
    color: #F7BA07;  
}

.dark_pill {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #000;
    white-space: nowrap;
    letter-spacing: .8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dark_pill:link,
.dark_pill:visited {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0);
}

.dark_pill:active,
.dark_pill.active {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
}

.dark_pill:hover {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
}

.callback {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    min-height: 32px;
    padding: 3px 16px 3px 16px;
}

.callback:before {
    display: block;
    content: "";
    width: 19px;
    height: 19px;
    margin-right: 10px;
    background-image: url(img/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 13;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #466896;
    margin: 0 auto 7px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #e9ba5f;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #e9ba5f;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

.resp_tel_link {
    display: none;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.sect_1_mp {
    padding: 1px 0;
    margin: -1px 0;
}

.promo_slider_wrapp {
    height: 310px;
    position: relative;
    overflow: hidden;
}

.promo_slider .slide {
    height: 310px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo_slider .slide_descript {
    display: inline-block;
    vertical-align: top;
    margin-top: 61px;
    padding: 12px 17px 13px 17px;
    background: rgba(0, 0, 0, .75);
}

.promo_slider .slide_descript h2 {
    padding: 6px 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFF;
}

.promo_slider .slide_descript h3 {
    padding: 5px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #FFF;
}

.yellow_pill {
    display: inline-block;
    vertical-align: top;
    padding: 24px 33px 23px 33px;
    background: #FEE050;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow_pill:link,
.yellow_pill:visited {
    background: #FEE050;
}

.yellow_pill:active,
.yellow_pill.active {
    background: #ffe97e;
}

.yellow_pill:hover {
    background: #ffe97e;
}

.navs_wrapp {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navs_wrapp .row {
    text-align: right;
}

.navs {
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 64px;
    position: relative;
    top: -63px;
}

.navs .slick-arrow {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 37px 0 1px 0;
}

.h2_wrapp {
    margin: 11px 0;
    position: relative;
}

.h2_wrapp:before {
    display: block;
    content: "";
    background-color: #FCD940;
    width: 50vw;
    height: 40px;
    margin-left: -45px;
    position: absolute;
    top: 0;
    left: -50vw;
}

.thumbnails_1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 16px -15px;
}

.thumb_1 {
    width: calc(25% - 30px);
    margin: 15px;
}

.thumb_1 .img_box {
    height: 211px;
    border: 1px solid #DDE1E5;
    background-size: cover;
    background-position: center;
}

.thumb_1 .descript {
    min-height: 57px;
    padding: 7px 15px 10px 15px;
    background: #E8E8E8;
}

.thumb_1 .descript p {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_1:link .descript p,
.thumb_1:visited .descript p {
    color: #000;
}

.thumb_1:active .descript p,
.thumb_1.active .descript p {
    color: #F7BA07;
}

.thumb_1:hover .descript p {
    color: #F7BA07;
}

.two_cols {
    display: flex;
    display: -webkit-flex;
}

.two_cols > .left {
    width: 33.33%;
    padding: 15px 15px 15px 0;
}

.two_cols > .right {
    width: 66.66%;
    padding: 15px 0 15px 15px;
}

.grey_box {
    background: #E8E8E8;
    position: relative;
    padding: 6px 15px 6px 0;
}

.grey_box:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    background: #E8E8E8;
}

.nav li {
    border-bottom: 1px solid #FFF;
}

.nav li:last-child {
    border-bottom: none;
}

.nav li a {
    display: block;
    padding: 16px 17px;
    letter-spacing: .4px;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav li a:link,
.nav li a:visited {
    color: #000;
}

.nav li a:active,
.nav li a.active {
    color: #F7BA07;  
}

.nav li a:hover {
    color: #F7BA07;  
}

.checkbox {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding-left: 32px;
    position: relative;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #000;
}

.checkbox input {
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    position: absolute;
    top: 0;
    left: 3px;
}

.checkbox input:checked {
    background-image: url(img/check.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.article {
    display: flex;
    display: -webkit-flex;
}

.article > .col:nth-child(odd) {
    width: 50%;
    padding-right: 15px;
}

.article > .col:nth-child(even) {
    width: 50%;
    padding-left: 15px;
}

.img_box {
    height: 310px;
    background-size: cover;
    background-position: center;
}

.article h2 {
    padding: 3px 0 23px;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article h2 span {
    font-weight: bold;
}

.article p {
    padding: 8px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000;
}

.article p.p_b {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumbnails_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 25px -15px 73px -15px;
}

.thumb_2 {
    width: calc(25% - 30px);
    margin: 4px 15px;
}

.thumb_2 .img_box {
    height: 204px;
}

.thumb_2 .descript {
    padding: 24px 0 24px 0;
}

.thumb_2 .descript p {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_2:link .descript p,
.thumb_2:visited .descript p {
    color: #000;
}

.thumb_2:active .descript p,
.thumb_2.active .descript p {
    color: #FCD940;
}

.thumb_2:hover .descript p {
    color: #FCD940;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 1 - About Page --*/

.sect_2_ap {
    padding: 1px 0;
}

.two_cols_2 > .left {
    padding-top: 0;
}

.two_cols_2 > .right {
    padding-top: 0;
}

.article > .col:nth-child(odd) {
    width: 49%;
}

.article > .col:nth-child(even) {
    width: 51%;
}

.article_2 {
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.article_2 h1 {
    padding-top: 48px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article_2 h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
}

.article h3 {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
}

.article h2 + h3 {
    margin-top: -15px;
}

.article .img_box_2 {
    height: 325px;
}

.article_2_wrapp {
    position: relative;
}

.article_2_wrapp .article_info {
    position: absolute;
    top: 3px;
    left: calc(100% + 21px);
}

.article_info .inner {
    padding-bottom: 14px;
}

.article_info .inner h3 {
    padding: 1px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000;
}

.article_info .inner p {
    padding: 1px 0;
    font-weight: bold;
}

.article_3 {
    padding: 21px 0 53px;
    border-bottom: 1px solid #E0E0E0;
}

.article_3:last-child {
    border-bottom: none;
}

.article_3 h2 {
    padding: 18px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article_3 img + h2 {
    padding-top: 46px;
}

.article_3 h3 {
    padding: 7px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.article_3 h4 {
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.article_3 p {
    padding: 10px 0;
}

.article_3 p + h3 {
    padding-top: 14px;
}

.article_3 img {
    margin: 10px 0;
    width: auto;
    max-width: 100%;
}

.p_b {
    font-weight: bold;
}

.p_it {
    font-style: italic;
    color: rgba(0, 0, 0, .54);
}

.article_3 img + p {
    padding-top: 0;
}

.article_3 img + p + img {
    margin-top: 15px;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - Production Page --*/

.thumbnails_1_2 {
    margin-bottom: 97px;
}

/*-- /Section 2 - Production Page --*/

/*-- Section 1 - Support Page --*/

.article_2 .inner h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article_2 .inner h3 {
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.article_3 {

}

.article_3_2 {
    padding-bottom: 0;
}

.article_3 ul li {
    margin: 11px 0;
    padding-left: 17px;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000;
}

.article_3 ul li:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #F7BA07;
    position: absolute;
    top: 6px;
    left: 0;
}

.article_3 h4 + ul {
    margin-top: -13px;
}

.article_3 ul + img {
    margin: 29px 0;
}

.article_3 img:last-child {
    margin-bottom: 4px;
}

/*-- /Section 1 - Support Page --*/

/*-- Section 2 - Contacts Page --*/

.contacts_templ {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    margin: 30px 0 42px;
}

.contacts_templ > .left {
    width: 293px;
    padding: 10px 15px 10px 0;
}

.contacts_templ > .right {
    width: calc(100% - 293px);
    padding: 10px 0 10px 15px;
}

.contacts h2 {
    padding: 8px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.contact_item {
    display: flex;
    display: -webkit-flex;
    margin: 8px 0;
}

.contact_item > div:nth-child(1) {
    width: 48px;
    padding: 4px 5px 0 0;
}

.contact_item > div:nth-child(2) {
    width: calc(100% - 48px);
}

.contact_item h3 {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, .54);
}

.contact_item p {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.orange_link {
    font-size: 16px;
    line-height: 21px;
    color: #FF8933;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.orange_link:link,
.orange_link:visited {
    border-bottom: 1px solid transparent;
}

.orange_link:active,
.orange_link.active {
    border-bottom: 1px solid #FF8933;
}

.orange_link:hover {
    border-bottom: 1px solid #FF8933;
}

.dark_pill_2 {
    padding: 14px 16px 14px 16px;
}

.map {
    height: 428px;
}

.button_wrapp {
    padding: 10px 0 10px 0;
}

.button_wrapp .dark_pill_2 {
    width: 100%;
}

/*-- /Section 2 - Contacts Page --*/

/*-- Section 1 - Interesting Page --*/

.article_3 p.p_it + h4 {
    padding-top: 10px;
}

.pb_0 {
    padding-bottom: 15px;
}

.articles_thumbs_wrapp,
.articles_thumbs {
    margin: 62px 0 89px 0;
}

.articles_thumbs_wrapp h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article_thumb {
    display: flex;
    display: -webkit-flex;
    margin: 24px 0;
}

.article_thumb > div:nth-child(1) {
    width: 185px;
    padding-top: 7px;
    padding-right: 10px;
}

.article_thumb > div:nth-child(2) {
    width: calc(100% - 185px);
}

.article_thumb .img_box {
    max-width: 162px;
    height: 122px;
}

.article_thumb h3 {
    padding: 8px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.article_thumb p {
    padding: 8px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000;
}

.thumb_footer {
    padding-top: 4px;
    text-align: right;
}

/*-- /Section 1 - Interesting Page --*/

/*-- Section 1 - BISO_Integral_CX Page --*/

.article_2_2 .inner h1 {
    text-transform: none;
}

.article_2_2 .inner h3 {
    text-transform: uppercase;
}

/*-- /Section 1 - BISO_Integral_CX Page --*/

/*-- Section 2 - BISO_Integral_CX Page --*/

.two_cols_3 {
    display: flex;
    display: -webkit-flex;
    margin: 28px 0 65px 0;
}

.two_cols_3 > .left {
    width: 30%;
    padding: 9px 15px;
}

.two_cols_3 > .right {
    width: 70%;
}

.two_cols_3 > .left p {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A;
}

.line_list li {
    padding: 9px 15px 11px 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A; 
}

.line_list li:nth-child(even) {
    background-color: #F2F2F2;
}

.line_list li:last-child {
    border-bottom: 1px solid #F2F2F2;
}

/*-- /Section 2 - BISO_Integral_CX Page --*/

/*-- Section 3 - BISO_Integral_CX Page --*/

.table_1_wrapp {
    margin-bottom: 19px;
}

.table_1 {
    border-bottom: 1px solid #F2F2F2;
}

.table_1 .table_row {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.table_1 .table_cell:nth-child(1) {
    width: calc(100% - 630px);
    padding: 0 10px 0 15px;
}

.table_1 .table_cell:nth-child(2) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(3) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(4) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(5) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(6) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(7) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_cell:nth-child(8) {
    width: 126px;
    padding: 0 10px;
}

.table_1 .table_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table_1 .table_row:nth-child(1) {
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}

.table_1 .table_row:last-child {
    border-bottom: 1px solid #F2F2F2;
}

.table_1 p {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A;
}

.table_1 .table_header p {
    font-weight: bold;
}

.table_1_wrapp p {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A;
}

.table_1_footer {
    padding: 18px 0;
}

/*-- /Section 3 - BISO_Integral_CX Page --*/

/*-- Section 4 - BISO_Integral_CX Page --*/

.video_wrapp {
    max-width: 881px;
    height: 588px;
    margin: 34px auto;
}

.video_wrapp iframe {
    width: 100%;
    height: 588px;
    border: none;
}

/*-- /Section 4 - BISO_Integral_CX Page --*/

/*-- Section 2 - BISO_3D Page --*/

.table_wrapp_scroll {
    overflow-x: auto;
}

.table_2 {
    margin-top: 27px;
    min-width: 600px;
}

.table_2 .table_row {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.table_2 .table_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table_2 .table_row:nth-child(1) {
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}

.table_2 .table_row:last-child {
    border-bottom: 1px solid #F2F2F2;
}

.table_2 .table_cell:nth-child(1) {
    width: calc(100% - 489px);
    padding: 0 10px 0 15px;
}

.table_2 .table_cell:nth-child(2) {
    width: 163px;
}

.table_2 .table_cell:nth-child(3) {
    width: 163px;
}

.table_2 .table_cell:nth-child(4) {
    width: 163px;
}

.table_2 .table_header p {
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    color: #000;
}

/*-- /Section 2 - BISO_3D Page --*/

/*-- Section 2 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

.line_list li ul li {
    position: relative;
    padding: 0 15px 0 15px;
}

.line_list li ul li:before {
    display: block;
    content: "";
    width: 7px;
    height: 1px;
    background-color: #05111A;
    position: absolute;
    top: 7px;
    left: 0;
}

/*-- /Section 2 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

/*-- Section 3 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

.table_3 .table_row {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.table_3 .table_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table_3 .table_row:nth-child(1) {
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}

.table_3 .table_row:last-child {
    border-bottom: 1px solid #F2F2F2;
}

.table_3 .table_header p {
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    color: #000;
}

.table_3 .table_cell:nth-child(1) {
    width: calc(100% - 780px);
    padding: 0 10px 0 15px;
}

.table_3 .table_cell:nth-child(2) {
    width: 130px;
}

.table_3 .table_cell:nth-child(3) {
    width: 130px;
}

.table_3 .table_cell:nth-child(4) {
    width: 130px;
}

.table_3 .table_cell:nth-child(5) {
    width: 130px;
}

.table_3 .table_cell:nth-child(6) {
    width: 130px;
}

.table_3 .table_cell:nth-child(7) {
    width: 130px;
}

/*-- /Section 3 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

/*-- Section 4 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

.sect_4_BISO_VX_Crop_Ranger_Trendline_Light {
    padding-top: 43px;
}

.table_1_footer {
    margin: 0 -9px;
}

.table_1_footer > p {
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
}

/*-- /Section 4 - BISO_VX_Crop_Ranger_Trendline_Light Page --*/

/*-- Section 3 - BISO_Cornpower --*/

.table_4 .table_row {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.table_4 p {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A;
}

.table_4 .table_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table_4 .table_header p {
    font-weight: bold;
}

.table_4 .table_row:nth-child(1) {
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}

.table_4 .table_row:last-child {
    border-bottom: 1px solid #F2F2F2;
}

.table_4 .table_cell:nth-child(1) {
    width: calc(100% - 784px);
    padding: 0 10px 0 15px;
}

.table_4 .table_cell:nth-child(2) {
    width: 196px;
}

.table_4 .table_cell:nth-child(3) {
    width: 196px;
}

.table_4 .table_cell:nth-child(4) {
    width: 196px;
}

.table_4 .table_cell:nth-child(5) {
    width: 196px;
}

/*-- /Section 3 - BISO_Cornpower --*/

/*-- Section 3 - BISO_Sunpower --*/

.table_5 .table_row {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    padding-bottom: 11px;
}

.table_5 .table_cell:nth-child(1) {
    width: calc(100% - 780px);
    padding: 0 10px 0 15px;
}

.table_5 .table_cell:nth-child(2) {
    width: 260px;
}

.table_5 .table_cell:nth-child(3) {
    width: 260px;
}

.table_5 .table_cell:nth-child(4) {
    width: 260px;
}

.table_5 p {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #05111A;
}

.table_5 .table_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.table_5 .table_header p {
    font-weight: bold;
}

.table_5 .table_row:nth-child(1) {
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}

.table_5 .table_row:last-child {
    border-bottom: 1px solid #F2F2F2;
}

/*-- /Section 3 - BISO_Sunpower --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer_section {
    background-color: #E8E8E8;
}

.footer_text {
    padding: 68px 0 68px 0;
    text-align: center;
}

.footer_text h4 {
    padding: 1px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
}

.footer_text p {
    padding: 1px 0;
}

.list_1 {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 1px 0;
}

.list_1 li {
    padding: 0 5px;
    position: relative;
}

.list_1 li:after {
    display: inline-block;
    vertical-align: top;
    content: "\2044";
    position: absolute;
    top: -1px;
    right: -2px;
    font-size: 17px;
    line-height: 130%;
    color: #000;
}

.list_1 li:last-child:after {
    display: none;
}

.yellow_link {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #F7BA07;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow_link:link,
.yellow_link:visited {
    border-bottom: 1px solid transparent;
}

.yellow_link:active,
.yellow_link.active {
    border-bottom: 1px solid #F7BA07;
}

.yellow_link:hover {
    border-bottom: 1px solid #F7BA07;
}

.dark_link {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #000;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dark_link:link,
.dark_link:visited {
    border-bottom: 1px solid transparent;
}

.dark_link:active,
.dark_link.active {
    border-bottom: 1px solid #000;
}

.dark_link:hover {
    border-bottom: 1px solid #000;
}